/* Font */
.inter-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }
.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }
  body{
    margin: 0;
  }
  .container{
    max-width: 1140px;
    margin: 0 auto;
  }
a{
    text-decoration: none;
}
.color-primary{
    color: #4E47FF;
}
.bg-primary{
    background-color: #4E47FF;
}
.btn-primary{
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #4E47FF;
    padding: 15px 30px;
}
  /* header area */
  .navigation-bar{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
  }
  .logo{
    font-size: 35px;
    font-weight: bold;
  }
  /* hero area */
  .h-screen{
    min-height: 100vh;
  }
  .bg-hero{
    background-image: url(../assets/Hero-bg.png);
    background-position: center;
  }
  .hero-area{
    padding: 0px 100px;
    text-align: center;
  }
  .hero-title{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 30px;
  }