/* Font */
.inter-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }
.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }
  *{
    margin: 0;
    padding: 0;
  }
  body{
    margin: 0;
    background-color: #F5F8FF;
  }
 .text-center{
    text-align: center;
 }
  .container{
    max-width: 1140px;
    margin: 0 auto;
  }
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.color-primary{
    color: #4E47FF;
}
.bg-primary{
    background-color: #4E47FF;
}
.text-primary{
    color: #252432;
}
.text-secondary{
    color: #4E47FF;
}
.btn-primary{
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #4E47FF;
    padding: 15px 30px;
}
  /* header area */
  .navigation-bar{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
  }
  .logo{
    font-size: 35px;
    font-weight: bold;
  }
  /* hero area */
  .h-screen{
    min-height: 100vh;
  }
  .bg-hero{
    background-color: rgba(78, 71, 255, 0.1);
    background-image: url(../assets/Hero-bg.png);
    background-position: center;
  }
  .hero-area{
    padding: 0px 100px;
    text-align: center;
  }
  .hero-title{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  /* action area */
  .action-area{
    padding: 100px 0;
  }
  .action-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .action-text{
    width: 40%;
  }
  .action-text h2,.section-title{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .action-text p{
    font-size: 24px;
    font-weight: normal;
    opacity: 0.5;
    margin-bottom: 30px;
  }
  /* user area */
  .user-area-bg{
    background: rgba(78, 71, 255, 0.1);
    border-radius: 20px;
    padding: 50px 100px;
    text-align: center;
  }
  .users{
    display: flex;
    justify-content: space-around;
  }
  .user p{
    font-weight: bold;
    font-size: 42px;
  }
  .user span{
    font-size: 20px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
  }
  /* clients area */
  .clients-area{
    padding: 130px 0;
  }
  .clients{
    display: flex;
    gap:30px;
  }
  .client{
    background: rgba(255,255,255,0.5);
    border: 1px solid #F2EDED;
    padding: 30px 20px;
    border-radius: 10px;
  }
  /* focus area */
  .focus-area-bg{
    background: #fff;
    border-radius: 20px;
  }
  .focus-content{
    padding: 80px 0;
  }
  .focus-content p{
    margin-bottom: 25px;
  }
  .focus-content button{
    margin-bottom: 50px;
  }
  .focus-content img{
    border-radius: 15px;
    margin-top: 30px;
    display: block;
    margin: 0 auto;
  }
  /* Contact Area */
  .contact-area {
    padding: 100px 0 80px 0;
  }
  .contact-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contact-field{
    width: 500px;
  }
  .contact-content h1{
    font-size: 97px;
    font-weight: bold;
  }
  .single-input label{
    display: block;
    margin-bottom: 10px;
  }
  .single-input input,
  .single-input textarea{
    
    padding: 10px 0px ;
    margin-bottom: 20px;
    width: 100%;

  }
  /* footer */
  .footer-area{
    text-align: center;
    background: #fff;
    padding: 80px 0;
  }
  .footer-logo{
    font-size: 100px;
    margin-bottom: 20px;
  }
  .footer-content{
    max-width: 500px;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.5);
  }
  .footer-nav li{
    display: inline-block;
    padding: 15px 10px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
  }
  .footer-nav li a{
    color: rgba(0, 0, 0, 0.5);
  }